<b>PART-I<b>

<b>Preprocessing of raw_wheat.csv to wheat.csv<b>

In [2]:
import pylab
import calendar
import numpy as np
import pandas as pd
import seaborn as sn
from scipy import stats
#import missingno as msno
from datetime import datetime
import matplotlib.pyplot as plt
import warnings
pd.options.mode.chained_assignment = None
warnings.filterwarnings("ignore", category=DeprecationWarning)
%matplotlib inline

In [3]:
daily_Data= pd.read_csv("jaunpur_wheat.csv")

In [4]:
daily_Data.head()

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal_Price,Price_Date
0,1,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2020,2080,2060,06-Apr-20
1,2,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2050,2110,2090,05-Apr-20
2,3,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2060,2100,2080,04-Apr-20
3,4,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2050,2090,2075,03-Apr-20
4,5,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2020,2075,2050,02-Apr-20

In [5]:
daily_Data.shape

(2681, 10)

In [6]:
df=daily_Data.copy()

In [7]:
df.columns

Index(['Sl no.', 'District Name', 'Market Name', 'Commodity', 'Variety',
       'Grade', 'Min Price (Rs./Quintal)', 'Max Price (Rs./Quintal)',
       'Modal_Price', 'Price_Date'],
      dtype='object')

In [8]:
df=df.rename(index=str, columns={"Sl no.": "Sl_no", "Min Price (Rs./Quintal)": "Min_Price","Price Date":"Price_Date","Modal Price (Rs./Quintal)":"Modal_Price"})

In [9]:
df.head()

,Sl_no,District Name,Market Name,Commodity,Variety,Grade,Min_Price,Max Price (Rs./Quintal),Modal_Price,Price_Date
0,1,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2020,2080,2060,06-Apr-20
1,2,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2050,2110,2090,05-Apr-20
2,3,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2060,2100,2080,04-Apr-20
3,4,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2050,2090,2075,03-Apr-20
4,5,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2020,2075,2050,02-Apr-20

In [10]:
df.columns

Index(['Sl_no', 'District Name', 'Market Name', 'Commodity', 'Variety',
       'Grade', 'Min_Price', 'Max Price (Rs./Quintal)', 'Modal_Price',
       'Price_Date'],
      dtype='object')

In [11]:
df.Price_Date = pd.to_datetime(df.Price_Date, errors='coerce')

In [12]:
df.head()

,Sl_no,District Name,Market Name,Commodity,Variety,Grade,Min_Price,Max Price (Rs./Quintal),Modal_Price,Price_Date
0,1,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2020,2080,2060,2020-04-06
1,2,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2050,2110,2090,2020-04-05
2,3,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2060,2100,2080,2020-04-04
3,4,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2050,2090,2075,2020-04-03
4,5,Jaunpur,Jaunpur,Wheat,Dara,FAQ,2020,2075,2050,2020-04-02

In [13]:
df=df.sort_values(by='Price_Date')

In [14]:
df.drop_duplicates('Price_Date', inplace = True)

In [15]:
df.head(20)

,Sl_no,District Name,Market Name,Commodity,Variety,Grade,Min_Price,Max Price (Rs./Quintal),Modal_Price,Price_Date
2680,2681,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1150,2011-01-01
2679,2680,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1150,2011-01-03
2678,2679,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1150,2011-01-04
2677,2678,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1150,2011-01-05
2676,2677,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1150,2011-01-06
2675,2676,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1150,2011-01-07
2674,2675,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1175,2011-01-08
2673,2674,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1175,2011-01-10
2672,2673,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1175,2011-01-11
2671,2672,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1175,2011-01-12
2670,2671,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1175,2011-01-13
2669,2670,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1175,2011-01-14
2668,2669,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1175,2011-01-15
2667,2668,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1175,2011-01-17
2666,2667,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1200,2011-01-18
2665,2666,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1200,2011-01-19
2664,2665,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1200,2011-01-20
2663,2664,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1200,2011-01-21
2662,2663,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1200,2011-01-22
2661,2662,Jaunpur,Jaunpur,Wheat,Other,FAQ,0,0,1200,2011-01-24

<b>Saving to wheat.csv for future price prediction<b>

In [17]:
df.to_csv("jaupur_processed_wheat.csv", sep=',')